.git
.idea
.vscode
*.md

frontend/node_modules
frontend/dist
frontend/coverage

target/classes
target/test-classes
target/surefire-reports
target/site
target/generated-sources
target/generated-test-sources
